.box {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .comp1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }
      
      .comp2 {
        width: 100%;
        // height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
      
      
      
        .scrolltray {
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: column;
      
          .item1 {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
      
            h3 {
              font-size: 2rem;
            }
          }
      
      
      
        }
      
        .sticky {
          position: sticky;
          top: 10px;
          width: 50%;
          height: 100vh;
          display: flex;
          flex-direction: column;
      
          .fit-cont {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
      
            img {
              // width: 100%;
              height: 500px;
              position: absolute;
              will-change: opacity;
              opacity: 0;
            }
      
            margin-bottom: 20px;
      
          }
        }
      }